@import "main.css";

body {
  height: 1000px;
}

h4 {
  border: 1px solid red;
}

.test {
  border: 10px solid blue;
  width: 100px;
  height: 100px;
  display: inline-block;
  box-sizing: border-box;
  position: absolute;
  top: 20px;
  right: 20px;
}
