@import "main.css";

body {
  padding: 0;
  margin: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.example {
  font-size: 35px;
  border: 1px solid black;
  width: 150px;
  min-width: 150px;
  /* overflow: hidden;
  /* text-overflow: clip; */
  /* text-overflow: ellipsis;
  white-space: nowrap; */
  /* word-wrap: break-word;
  word-break: break-all;
  writing-mode: vertical-rl; */
}

.container {
  column-count: 2;
  column-rule: 1px solid black;
  /* column-width: 300px; */
}
