@import "main.css";

h1,
h2,
span {
  color: brown;
}

div p {
  color: green;
}

div p span {
  color: blue;
  text-decoration: underline;
  background-origin: padding-box;
  border: 5px solid grey;
  font-style: italic;
  font-weight: bold;
  font-size: larger;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  margin: 20px;
}

ul li > span {
  font-weight: bold;
  font-size: x-large;
}

ul li + li {
  color: aquamarine;
}

br ~ p {
  font-size: 40px;
}

a {
  background-color: green;
}

a[target] {
  background-color: yellow;
}

a[target="_blank"] {
  background-color: aqua;
}

a[href^="http://123"]
{
  background-color: navy;
}

a[href$=".jpg"] {
  background-color: blueviolet;
}

/* element [attribute^='value'] | element [attribute$='value'] | element [attribute*='value'] */
a[href*="link"] {
  background-color: rebeccapurple;
}

/* The most commonly used */
