@import "main.css";

* {
  color: brown;
}

p {
  color: green;
}

h1 {
  color: navy;
}

.heading1 {
  color: blueviolet;
  text-decoration: underline;
}

.heading2 {
  text-transform: uppercase;
  text-decoration: line-through;
}

.fz20 {
  font-size: 30px;
  font-family: Helvetica;
  font-style: italic;
}

.fz10 {
  color: orange;
  font-size: 20px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: oblique;
  font-weight: bold;
}

#heading4 {
  font-size: 40px;
  font-weight: 200;
}
