@import "main.css";

p {
  background-color: green;
  color: white;
  border: 5px solid black;
  padding: 15px;
}

.style1 {
  background-color: aqua;
  color: brown;
  border: none !important;
}

#style2 {
  background-color: pink;
}

p {
  background-color: gray;
}
